<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Entidades.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Entidades.Properties.Settings.correo_sp_2017ConnectionString"
            connectionString="Data Source=|DataDirectory|\correo-sp-2017.sdf"
            providerName="Microsoft.SqlServerCe.Client.4.0" />
    </connectionStrings>
    <userSettings>
        <Entidades.Properties.Settings>
            <setting name="CadenaConexion" serializeAs="String">
                <value>CadenaConexion</value>
            </setting>
        </Entidades.Properties.Settings>
    </userSettings>
</configuration>